includes:
	- phpstan-baseline.neon
	- vendor/phpstan/phpstan-mockery/extension.neon

parameters:
	level: 8
	paths:
		- src
		- tests
	reportIgnoresWithoutComments: true
	ignoreErrors:
		-
			identifier: missingType.iterableValue
