parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_subclass_of\(\) with ''ItkDev\\\\OpenIdConnect\\\\Exception\\\\ItkOpenIdConnectException'' and ''ItkDev\\\\OpenIdConnect\\\\Exception\\\\OpenIdConnectExceptionInterface'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionHierarchyTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Exception/ExceptionHierarchyTest.php

		-
			message: '#^Property Tests\\Security\\MockJWT\:\:\$leeway has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: tests/Security/MockJWT.php

		-
			message: '#^Access to an undefined property object\:\:\$aud\.$#'
			identifier: property.notFound
			count: 2
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Access to an undefined property object\:\:\$nonce\.$#'
			identifier: property.notFound
			count: 3
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andReturn\(\)\.$#'
			identifier: method.notFound
			count: 6
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:andThrow\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Call to an undefined method Mockery\\ExpectationInterface\|Mockery\\HigherOrderMessage\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertTrue\(\) with true will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method generateNonce\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method generateState\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getAuthorizationUrl\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 3
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getBaseAccessTokenUrl\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getBaseAuthorizationUrl\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getDefaultScopes\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getEndSessionUrl\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 6
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getGuarded\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getResourceOwnerDetailsUrl\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method getState\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Cannot call method validateIdToken\(\) on ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\.$#'
			identifier: method.nonObject
			count: 7
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Parameter \#1 \$json of function json_decode expects string, string\|false given\.$#'
			identifier: argument.type
			count: 3
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Parameter \#1 \$string of function parse_str expects string, string\|false\|null given\.$#'
			identifier: argument.type
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php

		-
			message: '#^Property Tests\\Security\\OpenIdConfigurationProviderTest\:\:\$provider \(ItkDev\\OpenIdConnect\\Security\\OpenIdConfigurationProvider\|null\) is never assigned null so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: tests/Security/OpenIdConfigurationProviderTest.php
